---
- name: Base packages + CentOS7 repo fix + key
  hosts: all
  become: true
  tasks:
    # CentOS 7 уже EOL, стандартные зеркала часто "ломаются".
    # Этот блок переключает репозитории на vault.centos.org/7.9.2009
    - name: CentOS 7 - switch yum repos to vault (EOL fix)
      when:
        - ansible_distribution == "CentOS"
        - (ansible_distribution_major_version | int) == 7
      block:
        - name: Comment out mirrorlist= lines
          ansible.builtin.replace:
            path: /etc/yum.repos.d/CentOS-Base.repo
            regexp: '^mirrorlist='
            replace: '#mirrorlist='

        - name: Uncomment baseurl= lines
          ansible.builtin.replace:
            path: /etc/yum.repos.d/CentOS-Base.repo
            regexp: '^#baseurl='
            replace: 'baseurl='

        - name: Point baseurl to vault.centos.org/7.9.2009
          ansible.builtin.replace:
            path: /etc/yum.repos.d/CentOS-Base.repo
            regexp: 'mirror\.centos\.org/centos/\$releasever'
            replace: 'vault.centos.org/7.9.2009'

        - name: Clean yum cache
          ansible.builtin.command: yum clean all
          changed_when: false

    - name: Install packages
      ansible.builtin.yum:
        name:
          - bind
          - bind-utils
          - ntp
        state: present
        update_cache: true

    - name: Ensure NTP service is running and enabled
      ansible.builtin.service:
        name: ntpd
        state: started
        enabled: true

    - name: Copy zonetransfer key to all servers and client
      ansible.builtin.copy:
        src: named.zonetransfer.key
        dest: /etc/named.zonetransfer.key
        owner: root
        group: named
        mode: "0644"


- name: Configure master DNS (ns01)
  hosts: ns01
  become: true
  tasks:
    - name: Copy named.conf (master)
      ansible.builtin.copy:
        src: master-named.conf
        dest: /etc/named.conf
        owner: root
        group: named
        mode: "0640"
      notify: restart named

    - name: Ensure /etc/named exists and has correct permissions
      ansible.builtin.file:
        path: /etc/named
        state: directory
        owner: root
        group: named
        mode: "0670"

    # ВАЖНО: named.d* файлы должны лежать рядом с playbook.yml
    # либо в provisioning/files/ (Ansible сам ищет src в ./files/)
    - name: Copy zones to /etc/named/
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: /etc/named/
        owner: root
        group: named
        mode: "0660"
      loop: "{{ lookup('fileglob', 'named.*', wantlist=True) }}"
      notify: restart named
        
    - name: Copy resolv.conf to servers
      #ansible.builtin.copy:
      template:
        src: servers-resolv.conf.j2
        dest: /etc/resolv.conf
        owner: root
        group: root
        mode: "0644"

    - name: Ensure named is running and enabled
      ansible.builtin.service:
        name: named
        state: started
        enabled: true

  handlers:
    - name: restart named
      ansible.builtin.service:
        name: named
        state: restarted


- name: Configure slave DNS (ns02)
  hosts: ns02
  become: true
  tasks:
    - name: Copy named.conf (slave)
      ansible.builtin.copy:
        src: slave-named.conf
        dest: /etc/named.conf
        owner: root
        group: named
        mode: "0640"
      notify: restart named

    - name: Ensure /etc/named exists and has correct permissions
      ansible.builtin.file:
        path: /etc/named
        state: directory
        owner: root
        group: named
        mode: "0670"

    - name: Copy resolv.conf to servers
      ansible.builtin.copy:
        src: servers-resolv.conf
        dest: /etc/resolv.conf
        owner: root
        group: root
        mode: "0644"

    - name: Ensure named is running and enabled
      ansible.builtin.service:
        name: named
        state: started
        enabled: true

  handlers:
    - name: restart named
      ansible.builtin.service:
        name: named
        state: restarted


- name: Configure client
  hosts: client,client2
  become: true
  tasks:
    - name: Copy resolv.conf to client
      ansible.builtin.copy:
        src: client-resolv.conf
        dest: /etc/resolv.conf
        owner: root
        group: root
        mode: "0644"

    - name: Copy rndc.conf to vagrant home
      ansible.builtin.copy:
        src: rndc.conf
        dest: /home/vagrant/rndc.conf
        owner: vagrant
        group: vagrant
        mode: "0644"

    - name: Copy motd to client
      ansible.builtin.copy:
        src: client-motd
        dest: /etc/motd
        owner: root
        group: root
        mode: "0644"
